//////////////////////////////
// General body and html styles
//////////////////////////////
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    position: relative;
    touch-action: manipulation; // Disable certain touch gestures
}

//////////////////////////////
// Header styles
//////////////////////////////

header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 38px;
    z-index: 1000;

    // Optional styles to change based on slide
    // example: data-header="black"
    &[data-header=""] {}
}


//////////////////////////////
// Loader Styles
//////////////////////////////
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: #fff;
    z-index: 10;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    pointer-events: all;
    justify-content: center;

    // Wrapper to center the loading content
    .loading-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // Text displayed during loading
    .loading-text {
        z-index: 20; // Ensure text is on top of all other elements
    }
}

// Lottie animation container styling
.lottie-loader-container {
    max-width: 300px;
}


//////////////////////////////
// Background Video Styles
//////////////////////////////
// Background video container
.background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none; // Disable interaction with the video

    .background-video {
        width: 100%;
        height: 100%;
        object-fit: cover; // Ensure video covers the entire area

        @media screen and (max-height: 650px) and (orientation: landscape) {
            object-position: center 30%; // Adjust video position on smaller screens
        }
    }
}

//////////////////////////////
// Navigation styles
//////////////////////////////
/// 
// Navigation for previous/next buttons
.presentation-next-prev {
    z-index: 100;
    pointer-events: none;
    position: fixed;
    right: 38px;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .nav-prev,
    .nav-next {
        pointer-events: all;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform .25s ease;

        &:active,
        &:hover {
            transform: scale(1.1);
        }
    }
}



// Side Presentation / Pagination container
.presentation-container {
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    touch-action: manipulation;

    // Our pagination buttons
    button {
        position: relative;
        color: white;
        font-size: 10px;

        // Where the text gets rendered for styling 
        span {
            margin-left: 20px;
        }

        &.active {
            font-size: 16px;

            span {}
        }
    }
}



//////////////////////////////
// Slides styles
//////////////////////////////
/// 
// Slide styling
.slide {
    height: 100dvh;
    width: 100%;
    z-index: 1;
    pointer-events: none;

    &.active {
        pointer-events: all; // Enable interaction for active slides
        z-index: 100;
    }

    .slide-content {
        text-align: center;
        width: 100%;
        position: relative;
        padding-top: 100px;
        height: calc(100dvh - 100px);

        @media screen and (max-width: 768px) {
            padding-top: 75px;
            height: calc(100dvh - 75px);
        }
    }

    &.active {
        top: 0; // Ensure active slide is at the top
    }
}


// Section common styles for all slides
section[id^="slide-"] {
    * {
        color: white;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
}

// Slide 1
section#slide-1 {
    &.active {}
}

//////////////////////////////
// Footer styles
//////////////////////////////
footer {

    // Optional styles to change based on slide
    // example: data-footer="black"
    &[data-footer=""] {}
}